body{
    
   background-image: url(/src/passengers..png) 
   
    
}


#id-btn {

 background-color: #2b3f004a;
 height: 250px;
 width: 300px;
 padding: 50px;
 margin-top: 200px;
 margin-bottom: 200px;
 margin-left: 30%;
 border-radius: 10px;
 align-content: center;
 padding-left: 150px;


}
button {
 padding: 10px;
 margin: 10px;
 width: 200px;
border-radius: 10px;
}
  

#btn-increment {
 margin-left: 100px;
}


.increment {
    background-color: yellow;
}

.save {
    background-color: darkgreen;
}

.increment:hover{
    background-color: yellowgreen;
}

.save:hover {
    background-color: green;
}


